<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="frame-ancestors https://localhost
                                                                   https://cicd.mymsc.com
                                                                   https://test.mymsc.com
                                                               https://test-mymsc.msccargo.cn
                                                               https://mymsc.msccargo.cn
                                                               https://preprod.mymsc.com
                                                               https://qatest.mymsc.com
                                                               https://www.mymsc.com;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
